/BFBC2Game - Shortcut.lnk
/Bioshock - Shortcut.lnk
/Blitz.lnk
/CoDWaW - Shortcut.lnk
/desktop.ini
/Discord.lnk
/Dishonored - Shortcut.lnk
/farcry3 - Shortcut.lnk
/Google Chrome.lnk
/Hard Disk Sentinel.lnk
/Internet Download Manager (2).lnk
/KMPlayer (2).lnk
/League of Legends.lnk
/Microsoft Edge.lnk
/MOHA - Shortcut.lnk
/MW3 Launcher - Shortcut.lnk
/New folder
/Opera GX Browser (2).lnk
/PhotoshopCS6Portable - Shortcut.lnk
/pngegg (14).png
/pngegg (9).png
/Recuva.lnk
/Riot Client.lnk
/sample.html
/sched.xlsx
/sched1.jpg
/school
/script.html
/script.js
/style.css
/Visual Studio Code.lnk
/VLC media player.lnk
/Winaero Tweaker.lnk
/work
/XR_3DA - Shortcut.lnk